<div class="row">
  
  <div class="col-md-7">

<%= form_with(model: order, local: true) do |f| %>
 <% if @order.errors.any? %>
    <div id="error_explanation" class="alert alert-danger alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <h4><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h4>

      <ul>
      <% @order.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :address %>
    <%= f.text_field :address, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :city %>
    <%= f.text_field :city, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :state %>
    <%= f.text_field :state, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :delivery, class: "form-check-label" %>
    <%= f.check_box :delivery, class: "form-check-input" %>
    <p> (Leave unchecked if you will pick up) </p>
  </div>

  <div class="form-group">
    <%= f.label :tiger, class: "form-check-label"  %>
    <%= f.check_box :tiger, class: "form-check-input" %>
    <p> (Check this box if you will pay with TigerCash upon pickup/delivery) </p>
  </div>

  <div class="form-group">
    <div class="row">
      <div class="col-md-8">
        <%= label_tag :card_number, "Credit Card Number" %>
        <%= text_field_tag :card_number, nil, { :name => nil, :'data-stripe' => "number", class: "form-control" } %>
      </div>
      <div class="col-md-4">
        <%= label_tag :card_code, "CVC" %>
        <%= text_field_tag :card_code, nil, { :name => nil, :'data-stripe' => "cvc", class: "form-control" } %>
      </div>
    </div>
  </div>
  <div class="form-group">
    <%= label_tag nil, "Expiration Date" %>
    <div class="row">
      <div class="col-md-3">
        <%= select_month nil, { use_two_digit_numbers: true }, { :name => nil, :'data-stripe' => "exp-month", class: "form-control" } %>
      </div>
      <div class="col-md-3">
        <%= select_year nil, { start_year: Date.today.year, end_year: Date.today.year+10 }, { :name => nil, :'data-stripe' => "exp-year", class: "form-control" } %>
      </div>
    </div>
  </div>


  <div class="form-group">
    <%= f.submit "Complete Order", class: "btn btn-success" %>
  </div>
  
<% end %>
 
</div>

<div class="col-md-5">
      <div style="padding:2px 2px 2px 2px; border: 1px solid black">
        <center>
        <h3 style="border-bottom:1px solid black;">ORDER</h3>
        <center>
        <table class="cart">
            <tr style="border:none;padding:5px;text-align:center;">
                <th style="border:none;padding:5px;text-align:center;">Item</th>
                <th style="border:none;padding:5px;text-align:center;">Quantity</th>
                <th style="border:none;padding:5px;text-align:center;">Price</th>
            </tr>
            <% @order.order_items.each do |item| %>
            <tr style="border:none;padding:5px;text-align:center;">
                <td style="border:none;padding:5px;text-align:center;"><%=item.product.name%></td>
                <td style="border:none;padding:5px;text-align:center;"><%=item.quantity%></td>
                <td style="border:none;padding:5px;text-align:center;"><%=number_to_currency(item.product.price)%></td>
            </tr>
            <% end %>
        </table>
        </center>
        <br/>
        <h3 style="border-top:1px solid black;">TOTAL: <%=number_to_currency(@order.total)%> </h3>
        </center>
    </div>
</div>

</div>


